/* Navbar.css */
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      background-color: #444;
      position: absolute;
      top: 50px;
      right: 20px;
      padding: 10px;
      border-radius: 5px;
    }

    
  }
  