/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  .ButtonToggleIcon{
    border-width: 0.5px;
   border-radius: 0%;
   background-color: white;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar-links {
      
      flex-direction: column;
      background-color: #444;
      position: absolute;
      top: 50px;
      right: 20px;
      padding: 10px;
      border-radius: 5px;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  